@tailwind base;
@tailwind components;
@tailwind utilities;
/*
write below line in your editor setting.json, if unknown error exist for @tailwind and @apply
    "css.validate": false,
    "scss.validate": false,
    "less.validate": false
*/
:root {
  --background: #d2e8e3; /*body-background, also-> navbar-link-color, button-text*/
  --foreground: black; /*text over website*/
  --button-color: #0f6466; /*also-> navbar-link-hover, form-input-focus*/
  --form-color: #ecfbf4; /*form-background*/
  --navbar-color: #2c3532; /*navbar-background, also-> button-hover*/
}

@media (prefers-color-scheme: dark) {
  /*Not properly check*/
  :root {
    --background: #2c3532; /*set according to color-scheme*/
    --foreground: #d2e8e3; /*set according to color-scheme*/
  }
}

* {
  font-family: serif;
}

body {
  color: var(--foreground);
  font-weight: 200;
  font-size: 15px;
  line-height: 1.5;
}
nav {
  /* background: #003366; */
  background: white;
  padding: 0px;
  text-align: right;
  /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); */
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 12;
}
nav button,
.dashboard {
  /* background-color: #003366; */
  /* color: var(--background); */
  color: #003366;
  font-weight: bold;
  padding: 10px 20px;
  display: inline-block;
}
nav button:hover,
.dashboard:hover {
  /* background-color: var(--button-color); */
  /* background-color: #2471a3; */
}

.englishExpert {
  font-family: "Poppins", sans-serif;
}

@layer utilities {
  .formButton {
    @apply w-full py-2 px-4 bg-[#003366] text-white rounded-lg font-medium;
  }
  .formLabel {
    @apply block text-sm font-medium text-gray-700;
  }
  .formError {
    @apply text-xs text-red-600 ml-1;
  }
  input:-webkit-autofill {
    @apply bg-black text-white rounded-md border border-gray-600;
    box-shadow: 0 0 0px 1000px #000 inset !important;
    -webkit-box-shadow: 0 0 0px 1000px #000 inset !important;
    -webkit-text-fill-color: #fff !important;
  }
}
@layer base {
  h1 {
    font-size: 36px;
    font-weight: 900;
  }
  h2 {
    font-size: 30px;
    padding: 30px;
    font-weight: 900;
  }
  h3 {
    font-size: 24px;
    padding: 24px;
    font-weight: 900;
  }
  h4 {
    font-size: 20px;
    padding: 20px;
    font-weight: 900;
  }
  h5 {
    font-size: 18px;
    padding: 18px;
    font-weight: 900;
  }
  h6 {
    font-size: 16px;
    padding: 16px;
    font-weight: 900;
  }
  input,
  textarea {
    @apply text-black w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-0;
  }
  input:focus,
  textarea:focus {
    border-color: var(--button-color);
  }
}

.custom-carousel .slick-slide {
  transition: all 0.5s ease;
  transform: scale(0.85);
  filter: blur(5px) brightness(70%);
  opacity: 0.6;
}

.custom-carousel .slick-center {
  transform: scale(1);
  filter: blur(0px) brightness(100%);
  opacity: 1;
}

.carousel-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.side {
  border-radius: 0% 0% 100% 0%;
}

.borderR {
  border-radius: 100% 0% 100% 100%;
}

.custom-tabs .ant-tabs-nav-list {
  gap: 100px;
}

.custom-tabs .ant-tabs-tab {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.custom-tabs .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: white !important;
  text-decoration-line: white !important;
}

.custom-tabs .ant-tabs-ink-bar {
  background-color: white !important;
}

.custom-tabs .ant-tabs-nav {
  background-color: #0f6466;
  padding: 10px;
  border-radius: 8px;
}

.custom-tabs {
  padding: 60px;
  border-radius: 10%;
  border: 2px solid;
  border-color: #003366;
}

.wave-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.wave-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: wave 10s linear infinite;
  background-color: #008080;
  transform-origin: top;
}

.wave-layer:nth-child(1) {
  animation-delay: 0s;
  background-color: #008080;
}

.wave-layer:nth-child(2) {
  animation-delay: 2s;
  background-color: #007070;
}

.wave-layer:nth-child(3) {
  animation-delay: 4s;
  background-color: #009090;
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(80px);
  }
  50% {
    transform: translateY(40px);
  }
  75% {
    transform: translateY(80px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes blob {
  0%,
  100% {
    transform: translate(0px, 0px) scale(1);
  }
  50% {
    transform: translate(20px, -10px) scale(1.05);
  }
}
.animate-blob {
  animation: blob 8s infinite;
}

.ant-select-item-option-selected {
  background-color: #003366 !important;
  color: white !important;
}
